.motto{
  width: 520px;
  margin: 0 auto;
}
.toc,
.toc-child{
  list-style: none;
}
.vico {
  position: relative;
  padding-right: 62%;
  height: 220px;
  overflow: hidden;
  background-color: #38b49d;
  border: 10px solid white;
/*  -moz-box-shadow: 5px 5px 0 4px #eeeeee;
  -webkit-box-shadow: 5px 5px 0 4px #eeeeee;
  box-shadow: 5px 5px 0 4px #eeeeee;*/
}

/* line 40, ../sass/print.scss */
.head {
  position: relative;
  width: 100px;
  height: 50px;
  margin: 40px auto;
  border: 5px solid white;
  -moz-border-radius: 110px 110px 0 0;
  -webkit-border-radius: 110px;
  border-radius: 110px 110px 0 0;
}
/* line 49, ../sass/print.scss */
.head:before, .head:after {
  position: absolute;
  top: -10px;
  content: "";
  height: 0;
  width: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid white;
}
/* line 63, ../sass/print.scss */
.head:before {
  left: 0;
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
  -webkit-animation: 1.5s earl linear infinite;
  -moz-animation: 1.5s earl linear infinite;
  -o-animation: 1.5s earl linear infinite;
  animation: 1.5s earl linear infinite;
}
/* line 70, ../sass/print.scss */
.head:after {
  right: 0;
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-animation: 1.5s earr linear infinite;
  -moz-animation: 1.5s earr linear infinite;
  -o-animation: 1.5s earr linear infinite;
  animation: 1.5s earr linear infinite;
}

@-webkit-keyframes earl {
  /* line 80, ../sass/print.scss */
  0% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 84, ../sass/print.scss */
  20%,21% {
    border-left: 15px solid transparent;
    border-right: 7px solid transparent;
  }

  /* line 88, ../sass/print.scss */
  21%,100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 92, ../sass/print.scss */
  100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }
}
@-moz-keyframes earl {
  /* line 80, ../sass/print.scss */
  0% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 84, ../sass/print.scss */
  20%,21% {
    border-left: 15px solid transparent;
    border-right: 7px solid transparent;
  }

  /* line 88, ../sass/print.scss */
  21%,100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 92, ../sass/print.scss */
  100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }
}
@-o-keyframes earl {
  /* line 80, ../sass/print.scss */
  0% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 84, ../sass/print.scss */
  20%,21% {
    border-left: 15px solid transparent;
    border-right: 7px solid transparent;
  }

  /* line 88, ../sass/print.scss */
  21%,100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 92, ../sass/print.scss */
  100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }
}
@keyframes earl {
  /* line 80, ../sass/print.scss */
  0% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 84, ../sass/print.scss */
  20%,21% {
    border-left: 15px solid transparent;
    border-right: 7px solid transparent;
  }

  /* line 88, ../sass/print.scss */
  21%,100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 92, ../sass/print.scss */
  100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }
}
@-webkit-keyframes earr {
  /* line 99, ../sass/print.scss */
  0% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 103, ../sass/print.scss */
  20%,21% {
    border-left: 7px solid transparent;
    border-right: 15px solid transparent;
  }

  /* line 107, ../sass/print.scss */
  21%,100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 111, ../sass/print.scss */
  100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }
}
@-moz-keyframes earr {
  /* line 99, ../sass/print.scss */
  0% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 103, ../sass/print.scss */
  20%,21% {
    border-left: 7px solid transparent;
    border-right: 15px solid transparent;
  }

  /* line 107, ../sass/print.scss */
  21%,100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 111, ../sass/print.scss */
  100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }
}
@-o-keyframes earr {
  /* line 99, ../sass/print.scss */
  0% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 103, ../sass/print.scss */
  20%,21% {
    border-left: 7px solid transparent;
    border-right: 15px solid transparent;
  }

  /* line 107, ../sass/print.scss */
  21%,100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 111, ../sass/print.scss */
  100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }
}
@keyframes earr {
  /* line 99, ../sass/print.scss */
  0% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 103, ../sass/print.scss */
  20%,21% {
    border-left: 7px solid transparent;
    border-right: 15px solid transparent;
  }

  /* line 107, ../sass/print.scss */
  21%,100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* line 111, ../sass/print.scss */
  100% {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }
}
/* line 117, ../sass/print.scss */
.body {
  position: relative;
  width: 110px;
  height: 50px;
  margin: -100px auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 80px solid white;
}

/* line 128, ../sass/print.scss */
.empty {
  position: relative;
  left: -1px;
  width: 100px;
  height: 50px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 80px solid #38b49d;
}

/* line 139, ../sass/print.scss */
.foot {
  position: relative;
  left: 6px;
  top: 80px;
  width: 120px;
  margin: 0 auto;
}

/* line 147, ../sass/print.scss */
.foot li {
  display: inline-block;
  width: 22px;
  height: 20px;
  padding: 0;
  margin: 0;
  margin-right: -4px;
}
/* line 155, ../sass/print.scss */
.foot li:after {
  position: absolute;
  top: 0;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid white;
}

/* line 169, ../sass/print.scss */
.eye {
  position: relative;
  top: 40px;
  left: -1px;
  width: 9px;
  height: 18px;
  z-index: 99;
  float: left;
  margin-left: 28px;
  display: inline;
  background-color: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: 6s eyeroll linear infinite;
  -moz-animation: 6s eyeroll linear infinite;
  -o-animation: 6s eyeroll linear infinite;
  animation: 6s eyeroll linear infinite;
}

@-webkit-keyframes eyeroll {
  /* line 186, ../sass/print.scss */
  0%,15% {
    -webkit-transform: translate(-200%, 0);
    transform: translate(-200%, 0);
  }

  /* line 190, ../sass/print.scss */
  25%,40% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }

  /* line 194, ../sass/print.scss */
  50%,65% {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
  }

  /* line 198, ../sass/print.scss */
  75%,90% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 202, ../sass/print.scss */
  100% {
    -webkit-transform: translate(-200%, 0);
    transform: translate(-200%, 0);
  }
}
@-moz-keyframes eyeroll {
  /* line 186, ../sass/print.scss */
  0%,15% {
    -webkit-transform: translate(-200%, 0);
    transform: translate(-200%, 0);
  }

  /* line 190, ../sass/print.scss */
  25%,40% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }

  /* line 194, ../sass/print.scss */
  50%,65% {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
  }

  /* line 198, ../sass/print.scss */
  75%,90% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 202, ../sass/print.scss */
  100% {
    -webkit-transform: translate(-200%, 0);
    transform: translate(-200%, 0);
  }
}
@-o-keyframes eyeroll {
  /* line 186, ../sass/print.scss */
  0%,15% {
    -webkit-transform: translate(-200%, 0);
    transform: translate(-200%, 0);
  }

  /* line 190, ../sass/print.scss */
  25%,40% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }

  /* line 194, ../sass/print.scss */
  50%,65% {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
  }

  /* line 198, ../sass/print.scss */
  75%,90% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 202, ../sass/print.scss */
  100% {
    -webkit-transform: translate(-200%, 0);
    transform: translate(-200%, 0);
  }
}
@keyframes eyeroll {
  /* line 186, ../sass/print.scss */
  0%,15% {
    -webkit-transform: translate(-200%, 0);
    transform: translate(-200%, 0);
  }

  /* line 190, ../sass/print.scss */
  25%,40% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }

  /* line 194, ../sass/print.scss */
  50%,65% {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
  }

  /* line 198, ../sass/print.scss */
  75%,90% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 202, ../sass/print.scss */
  100% {
    -webkit-transform: translate(-200%, 0);
    transform: translate(-200%, 0);
  }
}

.animation {
  position: absolute;
  top: 52%;
  left: 63%;
  right: 0;
  bottom: 0;
  font-size: 12px;
}

.aiedra {
  -webkit-animation: float 1s steps(4) alternate infinite;
  animation: float 1s steps(4) alternate infinite;
  background: #fbf3be;
  position: absolute;
  width: 1em;
  height: 1em;

  box-shadow: 
  /*v*/
  -21em -6em #fbf3be,
  -21em -5em #fbf3be,
  -21em -4em #fbf3be,
  -21em -3em #fbf3be,

  -20em -2em #fbf3be,
  -20em -1em #fbf3be,
  -20em  0em #fbf3be,

  -19em  1em #fbf3be,
  -19em  2em #fbf3be,
  -19em  3em #fbf3be,

  -18em  1em #fbf3be,
  -18em  2em #fbf3be,
  -18em  3em #fbf3be,

  -17em -2em #fbf3be,
  -17em -1em #fbf3be,
  -17em  0em #fbf3be,

  -16em -3em #fbf3be,
  -16em -4em #fbf3be,
  -16em -5em #fbf3be,
  -16em -6em #fbf3be,
  /*i*/
  -14em  3em #fbf3be,
  -14em  2em #fbf3be,
  -14em  1em #fbf3be,
  -14em  0em #fbf3be,
  -14em -1em #fbf3be,
  -14em -2em #fbf3be,
  -14em -3em #fbf3be,
  -14em -4em #fbf3be,
  -14em -5em #fbf3be,
  -14em -6em #fbf3be,
  /*c*/
  -12em  1.5em #fbf3be,
  -12em  1em #fbf3be,
  -12em  0em #fbf3be,
  -12em -1em #fbf3be,
  -12em -2em #fbf3be,
  -12em -3em #fbf3be,
  -12em -4em #fbf3be,
  -12em -4.5em #fbf3be,

  -11em  3em #fbf3be,
  -11em -6em #fbf3be,
  -11em  2.5em #fbf3be,
  -11em -5.5em #fbf3be,

  -10em  3em #fbf3be,
  -10em -6em #fbf3be,
  -10em  2.5em #fbf3be,
  -10em -5.5em #fbf3be,

  -9em  3em #fbf3be,
  -9em -6em #fbf3be,
  -9em  2.5em #fbf3be,
  -9em -5.5em #fbf3be,

  -8em  3em #fbf3be,
  -8em -6em #fbf3be,
  -8em  2.5em #fbf3be,
  -8em -5.5em #fbf3be,

  -7em  1.5em #fbf3be,
  -7em -4.5em #fbf3be,

  /*o*/
  -5em  1.5em #fbf3be,
  -5em  1em #fbf3be,
  -5em  0em #fbf3be,
  -5em -1em #fbf3be,
  -5em -2em #fbf3be,
  -5em -3em #fbf3be,
  -5em -4em #fbf3be,
  -5em -4.5em #fbf3be,

  -4em  3em #fbf3be,
  -4em -6em #fbf3be,
  -4em  2.5em #fbf3be,
  -4em -5.5em #fbf3be,

  -3em  3em #fbf3be,
  -3em -6em #fbf3be,
  -3em  2.5em #fbf3be,
  -3em -5.5em #fbf3be,

  -2em  3em #fbf3be,
  -2em -6em #fbf3be,
  -2em  2.5em #fbf3be,
  -2em -5.5em #fbf3be,

  -1em  3em #fbf3be,
  -1em -6em #fbf3be,
  -1em  2.5em #fbf3be,
  -1em -5.5em #fbf3be,

  0em  1.5em #fbf3be,
  0em  1em #fbf3be,
  0em  0em #fbf3be,
  0em -1em #fbf3be,
  0em -2em #fbf3be,
  0em -3em #fbf3be,
  0em -4em #fbf3be,
  0em -4.5em #fbf3be,

  2em  3em #fbf3be,

  4em  3em #fbf3be,
  4em  2em #fbf3be,
  4em  1em #fbf3be,
  4em  0em #fbf3be,
  4em -1em #fbf3be,
  4em -2em #fbf3be,
  4em -3em #fbf3be,
  4em -4em #fbf3be,
  4em -5em #fbf3be,
  4em -6em #fbf3be,

  5em -4em #fbf3be,
  5em -5em #fbf3be,
  5em -6em #fbf3be,

  6em -2em #fbf3be,
  6em -3em #fbf3be,

  7em  0em #fbf3be,
  7em -1em #fbf3be,

  8em -2em #fbf3be,
  8em -3em #fbf3be,

  9em -4em #fbf3be,
  9em -5em #fbf3be,
  9em -6em #fbf3be,

  10em  3em #fbf3be,
  10em  2em #fbf3be,
  10em  1em #fbf3be,
  10em  0em #fbf3be,
  10em -1em #fbf3be,
  10em -2em #fbf3be,
  10em -3em #fbf3be,
  10em -4em #fbf3be,
  10em -5em #fbf3be,
  10em -6em #fbf3be,

  12em  3em #fbf3be,
  12em  2em #fbf3be,
  12em  1em #fbf3be,
  12em  0em #fbf3be,
  12em -1em #fbf3be,
  12em -2em #fbf3be,
  12em -3em #fbf3be,
  12em -4em #fbf3be,
  12em -5em #fbf3be,
  12em -6em #fbf3be,

  13em  3em #fbf3be,
  13em -2em #fbf3be,
  13em -6em #fbf3be,

  14em  3em #fbf3be,
  14em -2em #fbf3be,
  14em -6em #fbf3be,

  15em  3em #fbf3be,
  15em -2em #fbf3be,
  15em -6em #fbf3be,

  16em  3em #fbf3be,
  
  16em -6em #fbf3be,

  /*bg*/

  /*v*/
  -21em -2.5em #8d8d8e,
  -20em 0.5em #8d8d8e,
  -19em 3.5em #8d8d8e,
  -18em 3.5em #8d8d8e,
  -17em 0.5em #8d8d8e,
  -16em -2.5em #8d8d8e,
  /*i*/
  -14em 3.5em #8d8d8e,
  /*c*/
  -12em 2em #8d8d8e,

  -11em -5em #8d8d8e,
  -11em 3.5em #8d8d8e,
  -10em -5em #8d8d8e,
  -10em 3.5em #8d8d8e,
  -9em -5em #8d8d8e,
  -9em 3.5em #8d8d8e,
  -8em -5em #8d8d8e,
  -8em 3.5em #8d8d8e,
  -7em -4em #8d8d8e,
  -7em 2em #8d8d8e,
  /*o*/
  -5em 2em #8d8d8e,
  -4em -5em #8d8d8e,
  -4em 3.5em #8d8d8e,
  -3em -5em #8d8d8e,
  -3em 3.5em #8d8d8e,
  -2em -5em #8d8d8e,
  -2em 3.5em #8d8d8e,
  -1em -5em #8d8d8e,
  -1em 3.5em #8d8d8e,
  0em -4.5em #8d8d8e,
  0em 2em #8d8d8e,

  2em 3.5em #8d8d8e,

  4em 3.5em #8d8d8e,
  5em -3.5em #8d8d8e,
  6em -1.5em #8d8d8e,
  7em 0.5em #8d8d8e,
  8em -1.5em #8d8d8e,
  9em -3.5em #8d8d8e,
  10em 3.5em #8d8d8e,

  12em 3.5em #8d8d8e,
  13em 3.5em #8d8d8e,
  13em -1.5em #8d8d8e,
  13em -5.5em #8d8d8e,
  14em 3.5em #8d8d8e,
  14em -1.5em #8d8d8e,
  14em -5.5em #8d8d8e,
  15em 3.5em #8d8d8e,
  15em -1.5em #8d8d8e,
  15em -5.5em #8d8d8e,
  16em 3.5em #8d8d8e,
  16em -5.5em #8d8d8e;
}

/*nproess*/
#nprogress{pointer-events:none;-webkit-pointer-events:none}#nprogress .bar{background:#29d;position:fixed;z-index:100;top:0;left:0;width:100%;height:2px}#nprogress .peg{display:block;position:absolute;right:0;width:100px;height:100%;box-shadow:0 0 10px #29d,0 0 5px #29d;opacity:1.0;-webkit-transform:rotate(3deg) translate(0,-4px);-moz-transform:rotate(3deg) translate(0,-4px);-ms-transform:rotate(3deg) translate(0,-4px);-o-transform:rotate(3deg) translate(0,-4px);transform:rotate(3deg) translate(0,-4px)}#nprogress .spinner{display:block;position:fixed;z-index:100;top:15px;right:15px}#nprogress .spinner-icon{width:14px;height:14px;border:solid 2px transparent;border-top-color:#29d;border-left-color:#29d;border-radius:10px;-webkit-animation:nprogress-spinner 400ms linear infinite;-moz-animation:nprogress-spinner 400ms linear infinite;-ms-animation:nprogress-spinner 400ms linear infinite;-o-animation:nprogress-spinner 400ms linear infinite;animation:nprogress-spinner 400ms linear infinite}@-webkit-keyframes nprogress-spinner{0{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-moz-keyframes nprogress-spinner{0{-moz-transform:rotate(0);transform:rotate(0)}100%{-moz-transform:rotate(360deg);transform:rotate(360deg)}}@-o-keyframes nprogress-spinner{0{-o-transform:rotate(0);transform:rotate(0)}100%{-o-transform:rotate(360deg);transform:rotate(360deg)}}@-ms-keyframes nprogress-spinner{0{-ms-transform:rotate(0);transform:rotate(0)}100%{-ms-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes nprogress-spinner{0{transform:rotate(0);transform:rotate(0)}100%{transform:rotate(360deg);transform:rotate(360deg)}}

